---
permalink: "index.html"
---

{% extends "base.njk" %}

{% block content %}
  {%- set allRides = collections.ride %}
  {% summary allRides %}
  <h2>Gear</h2>
  <div class="gear">
    <div>
      <h3>In use:</h3>
      <table>
        <thead>
          <th>Name</th><th class="km">km</th>
        </thead>
        <tbody>
          {%- for g in collections.gearInUse %}
          <tr>
            <td><span class="gear-title">{{ g.data.title }}</span> <span class="gear-since">({{ g.data.inUse[0][0] | dateToStr("D.M.YYYY") }})</span></td>
            <td class="km">{% kmUsed allRides, g %}</td>
          </tr>
          {%- endfor %}
      </table>
    </div>
    <div>
      <h3>Stash:</h3>
      <table>
        <thead>
          <th>Name</th><th class="km">km</th>
        </thead>
        <tbody>
          {%- for g in collections.gearInStash %}
          <tr>
            <td><span class="gear-title">{{ g.data.title }}</span> <span class="gear-since">({{ g.data.inUse[0][0] | dateToStr("D.M.YYYY") }})</span></td>
            <td class="km">{% kmUsed allRides, g %}</td>
          </tr>
          {%- endfor %}
      </table>
    </div>
  </div>
  <div>
    <h3><a href="{{ "/worn-out" | url }}">Worn out</a></h3>
  </div>
  
  <hr>

    <div class="last-ride">
      {%- set lastRide = allRides | last -%}
      {% summary [lastRide] %}
      <a href="/{{ lastRide.data.date | dateToStr('Y/MM/DD-HH:mm') }}.html"><strong>Last ride: </strong>{{ lastRide.date | dateToStr }} {% summaryTotal %} km, {% summaryDuration %}</a>
    </div>

    {% binLegend %}
    
    {% summary allRides %}
    <table class="rides">
      <tr>
        <td><h2>Rides</h2></td>
        <td>{% summaryTotal %} km</td>
        <td>{% summaryDuration %} h</td>
        <td>{% summaryBins %}</td>
      </tr>

      {%- for year,yearRides in collections.contentByYear %}
        {% summary yearRides %}
        <tr>
          <td><strong>{{ year | replace("/", "") }}</strong></td>
          <td>{% summaryTotal %} km</td>
          <td>{% summaryDuration %}</td>
          <td>{% summaryBins %}</td>
        </tr>
        
        {%- for month in range(12,0,-1) %}
          {% set month = month | pad %}
          {% set key = year + month + "/" %}
          {%- set monthRides = collections.contentByMonth[key] %}
          {%- if monthRides.length %}
            {% summary monthRides %}
            <tr>
              <td><a href="{{ key | url}}" class="month">{% monthToStr month-1 %}</a></td>
              <td>{% summaryTotal %} km</td>
              <td>{% summaryDuration %}</td>
              <td>{% summaryBins %}</td>
            </tr>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </table>
{% endblock content %}
